# large memory files
experiments
tb_loggers
datasets
wandb


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.swp
*.pyc
*$py.class
*.so

# files for experiments
scripts
rm_archives.sh
